<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="content-section">
          <h2>Today's schedule</h2>
          <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="container">
                <div class="row row-striped">
                    <div class="col-2 text-right">
                        <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
                        <h2>OCT</h2>                       
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Listening music</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> House</li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-edit" aria-hidden="true"></i> edit event</a></li>
                        </ul>
                        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>		
            </div>
            </div>
          </div>

          <!--separator -->
         <h2>This week schedule</h2>
          <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="container">
                <div class="row row-striped">
                    <div class="col-2 text-right">
                        <h1 class="display-4"><span class="badge badge-secondary event-date">27</span></h1>
                        <h2 class="event-month">OCT</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Weekly log</strong></h3>
                        <a class="btn btn-info btn-mini"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
                        </ul>
                        <p class="event-description">Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>                    
                </div>

                <div class="row row-striped">
                    <div class="col-2 text-right">
                        <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
                        <h2>OCT</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
                        </ul>
                        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>		
            </div>
            </div>
          </div>

        <!--separator -->
         <h2>This month schedule</h2>
          <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="container">
                <div class="row row-striped">
                    <div class="col-2 text-right">
                        <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
                        <h2>OCT</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
                        </ul>
                        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="row row-striped">
                    <div class="col-2 text-right">
                        <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
                        <h2>OCT</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
                        </ul>
                        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>		
            </div>
            </div>
          </div>

    
</main>  