<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="content-section">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-primary" data-action="add" data-toggle="modal" data-target="#modalEvent"><i class="fa fa-plus"></i> Add new Events</button>
                </div>
                </div>
            </div>

            <h2>Today</h2>
            <div id="today-schedule"
            class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom" >            
            
            </div>
          
          <!--separator -->
         <h2>This week</h2>
          <div id="thisweek-schedule" 
          class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom" >            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="container">
                <div class="row row-striped">
                    <div class="col-2 text-right">
                        <h1 class="display-4"><span class="badge badge-secondary event-date">27</span></h1>
                        <h2>OCT</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Weekly log</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-edit" aria-hidden="true"></i> edit event</a></li>
                        </ul>
                        <p class="event-description">Lorem ipsum dolsit amet.</p>
                    </div>                    
                </div>		
            </div>
            </div>
          </div>

        <!--separator -->
         <h2>This month</h2>
          <div id="thismonth-schedule" 
          class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">   
          </div>  
</main>  