<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Task Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Toastr CSS -->
    <link type="text/css"  href="/assets/css/toastr.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css"  href="/assets/css/dashboard.css" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">
  </head>
  <body>
    {{> navbar }}
    <script type="text/js" src="/assets/js/jquery-3.5.1.min.js"></script>
    <script type="text/js" src="/assets/js/bootstrap.js"></script>
    <!-- toastr -->
    <script type="text/js" src="/assets/js/toastr.min.js"></script> 
  </body>
</html>